Repository global-121/121-platform, pull requests merged in 2024-11, with the labels that each got.

#5989 Program fsp configs endpoints
  interfaces/Portal/src/app/components/update-fsp/update-fsp.component.ts
  services/121-service/src/financial-service-providers/dto/update-financial-service-provider.dto.ts
  services/121-service/src/financial-service-providers/enum/financial-service-provider-name.enum.ts
  services/121-service/src/financial-service-providers/financial-service-provider-configuration.mapping.ts
  services/121-service/src/financial-service-providers/financial-service-provider.dto.ts
  services/121-service/src/financial-service-providers/financial-service-providers.const.ts
  services/121-service/src/financial-service-providers/financial-service-providers.helpers.ts
  services/121-service/src/migrate-visa/migrate-visa.service.ts
  services/121-service/src/migration/1729605362361-program-registration-attribute-refactor.ts
  services/121-service/src/payments/fsp-integration/commercial-bank-ethiopia/commercial-bank-ethiopia.module.ts
  services/121-service/src/payments/fsp-integration/excel/excel.module.ts
  services/121-service/src/payments/fsp-integration/excel/excel.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.module.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/payments/transactions/transaction.entity.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/create-program-financial-service-provider-configuration-property.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/create-program-financial-service-provider-configuration.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/create-program-fsp-configuration.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/program-financial-service-provider-configuration-property-response.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/program-financial-service-provider-configuration-response.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/update-program-financial-service-provider-configuration-property.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/update-program-financial-service-provider-configuration.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/dtos/update-program-fsp-configuration.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/entities/program-financial-service-provider-configuration-property.entity.ts
  services/121-service/src/program-financial-service-provider-configurations/entities/program-financial-service-provider-configuration.entity.ts
  services/121-service/src/program-financial-service-provider-configurations/mappers/program-financial-service-provider-configuration.mapper.spec.ts
  services/121-service/src/program-financial-service-provider-configurations/mappers/program-financial-service-provider-configuration.mapper.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.controller.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.module.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.repository.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.service.spec.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.service.ts
  services/121-service/src/programs/dto/create-program.dto.ts
  services/121-service/src/programs/dto/program-registration-attribute.dto.ts
  services/121-service/src/programs/dto/program-return.dto.ts
  services/121-service/src/programs/program.entity.ts
  services/121-service/src/programs/programs.controller.ts
  services/121-service/src/programs/programs.module.ts
  services/121-service/src/programs/programs.service.ts
  services/121-service/src/registration/registration.entity.ts
  services/121-service/src/registration/services/registrations-pagination.service.ts
  services/121-service/src/registration/validators/registrations-input-validator.ts
  services/121-service/src/scripts/seed-helper.ts
  services/121-service/src/seed-data/program/program-nlrc-ocw.json
  services/121-service/test/helpers/program-financial-service-provider-configuration.helper.ts
  services/121-service/test/program/__snapshots__/create-fsp-configuration.test.ts.snap
  services/121-service/test/program/__snapshots__/create-program.test.ts.snap
  services/121-service/test/program/create-fsp-configuration.test.ts
  services/121-service/test/program/create-program.test.ts
  services/121-service/test/program/manage-program-financial-service-provider-configuration.test.ts
  services/121-service/test/registrations/send-message-with-placeholder.test.ts
Labels: enhancement, Refactor registration data

#6018 update readme
  README.md
Labels: chore

#6027 portalicious: fix user last login E2E test
  e2e/portalicious/tests/Users/UsersLastLogin.spec.ts
Labels: portalicious

#6008 portalicious: button menu component
  interfaces/Portalicious/src/app/components/button-menu/button-menu.component.html
  interfaces/Portalicious/src/app/components/button-menu/button-menu.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  services/121-service/package.json
Labels: portalicious

#6009 portalicious: payment exports
  interfaces/Portalicious/src/app/domains/payment/payment.helpers.ts
  interfaces/Portalicious/src/app/domains/project/project.helper.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/export-payments/export-payments.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/export-payments/export-payments.component.ts
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.html
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6031 Fix bug in cbe query & added api test
  services/121-service/src/payments/fsp-integration/commercial-bank-ethiopia/commercial-bank-ethiopia.service.ts
  services/121-service/test/commercial-bank-ethiopia/export-validation-report.test.ts
  services/121-service/test/payment/do-payment-commercial-bank-ethiopia.test.ts
  services/121-service/test/registrations/pagination/pagination-data.ts
Labels: Refactor registration data

#6030 Api test for programFspConfigName is not equal to the fsp name
  services/121-service/test/registrations/__snapshots__/update-registration-program-financial-service-provider-configuration.test.ts.snap
  services/121-service/test/registrations/update-registration-program-financial-service-provider-configuration.test.ts
Labels: chore, Refactor registration data

#6032 Add deployment workflows for new instances DRC, Slovakia, South Sudan
  .github/workflows/deploy_client-drc_all.yml
  .github/workflows/deploy_client-drc_portal.yml
  .github/workflows/deploy_client-drc_service.yml
  .github/workflows/deploy_client-slovakia_all.yml
  .github/workflows/deploy_client-slovakia_portal.yml
  .github/workflows/deploy_client-slovakia_service.yml
  .github/workflows/deploy_client-southsudan_all.yml
  .github/workflows/deploy_client-southsudan_portal.yml
  .github/workflows/deploy_client-southsudan_service.yml
Labels: chore

#6029 Refactor the code validateRequiredFinancialServiceProviderConfiguration
  interfaces/Portal/src/app/program/make-payment/make-payment.component.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit/do-payment-fsp-visa-debit-error.test.ts
Labels: chore, Refactor registration data

#6034 Remove permissions for refactor registration data
  services/121-service/src/migration/1729605362361-program-registration-attribute-refactor.ts
  services/121-service/src/programs/programs.controller.ts
  services/121-service/src/scripts/seed-init.ts
  services/121-service/src/user/enum/permission.enum.ts
  services/121-service/test/users/user-roles.test.ts
Labels: chore, Refactor registration data

#6028 portalicious: registration exports review
  interfaces/Portalicious/src/app/components/page-layout/components/registration-header/registration-header.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/export-payments/export-payments.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/export-registrations/export-registrations.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/export-registrations/export-registrations.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-summary-card/project-summary-card.component.html
  interfaces/Portalicious/src/app/services/export.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6033 portalicious: fix locale
  .github/workflows/deploy_test_portalicious.yml
  e2e/portalicious/pages/LoginPage.ts
  e2e/portalicious/tests/CreateNewProject/CreateNewProjectSuccessfully.spec.ts
  e2e/portalicious/tests/LogOut/LogOut.spec.ts
  e2e/portalicious/tests/ManageTeam/ScopeVisibleOnlyWhenSetToTrue.spec.ts
  e2e/portalicious/tests/Navigation/BasicNavigation.spec.ts
  e2e/portalicious/tests/Navigation/ChangeLanguage.spec.ts
  e2e/portalicious/tests/Users/UsersLastLogin.spec.ts
  interfaces/Portalicious/.env.example
  interfaces/Portalicious/angular.json
  interfaces/Portalicious/src/app/app.component.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/project-monitoring.page.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/app/services/translatable-string.service.ts
  interfaces/Portalicious/src/app/utils/locale.spec.ts
  interfaces/Portalicious/src/app/utils/locale.ts
  interfaces/Portalicious/src/environments/environment.ts
  interfaces/Portalicious/src/environments/environment.ts.template.js
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/logout/logout.js
  interfaces/Portalicious/src/main.ts
  interfaces/Portalicious/staticwebapp.config.json
Labels: portalicious

#6040 Api test mock registrations
  services/121-service/test/mocks/seed-mock.test.ts
Labels: chore

#6042 portalicious: fix locale in templates
  interfaces/Portalicious/src/app/components/metric-container/metric-container.component.html
  interfaces/Portalicious/src/app/domains/notification/notification.api.service.ts
  interfaces/Portalicious/src/app/services/translatable-string.service.ts
  interfaces/Portalicious/src/app/utils/locale.ts
Labels: portalicious

#6044 portalicious: remove Dto121Service
  interfaces/Portalicious/src/app/domains/financial-service-provider/financial-service-provider.model.ts
  interfaces/Portalicious/src/app/domains/health/health.model.ts
  interfaces/Portalicious/src/app/domains/metric/metric.model.ts
  interfaces/Portalicious/src/app/domains/notification/notification.model.ts
  interfaces/Portalicious/src/app/domains/payment/payment.model.ts
  interfaces/Portalicious/src/app/domains/project/project.model.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/domains/role/role.model.ts
  interfaces/Portalicious/src/app/domains/user/user.model.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.ts
  interfaces/Portalicious/src/app/utils/dto-type.ts
  services/121-service/src/health/dto/get-version.dto.ts
  services/121-service/src/health/health.controller.ts
  services/121-service/src/payments/dto/get-payments.dto.ts
  services/121-service/src/payments/payments.controller.ts
  services/121-service/src/payments/payments.service.ts
Labels: portalicious

#6036 Chore.cleanup code
  e2e/test-registration-data/test-registrations-westeros-1000.csv
  e2e/tests/121-Portal/EditInfoPersonAffected/UpdateCustomAttributesSuccessfully.spec.ts
  features/121-Portal/Edit_Info_Person_Affected.feature
  features/121-Portal/Export_Payment_Details.feature
  features/121-Portal/Export_people_affected.feature
  features/121-Portal/Import_registrations.feature
  features/121-Portal/Send_message_to_people_affected.feature
  features/121-Portal/View_and_Manage_people_affected.feature
  features/Admin-user/Add_And_Update_program_custom_attribute.feature
  features/Admin-user/Update_program_question.feature
  features/Admin-user/Update_program_registration_attribute.feature
  features/README.md
  interfaces/Portal/src/app/components/registration-activity-overview/registration-activity-overview.component.ts
  interfaces/Portal/src/app/components/registration-personal-information/registration-personal-information.component.ts
  interfaces/Portal/src/app/mocks/api.programs.mock.ts
  interfaces/Portal/src/app/program/program-people-affected/program-people-affected.component.html
  interfaces/Portal/src/app/program/program-people-affected/program-people-affected.component.ts
  interfaces/Portal/src/assets/i18n/ar.json
  interfaces/Portal/src/assets/i18n/en.json
  interfaces/Portal/src/assets/i18n/es.json
  interfaces/Portal/src/assets/i18n/fr.json
  interfaces/Portal/src/assets/i18n/nl.json
  k6/tests/getProgramWithManyAttributes.js
  k6/tests/statusChangePaymentInLargeProgram.js
  services/121-service/src/migration/1729605362361-program-registration-attribute-refactor.ts
  services/121-service/src/payments/fsp-integration/excel/excel.service.ts
  services/121-service/src/programs/dto/create-program.dto.ts
  services/121-service/src/programs/dto/program-return.dto.ts
  services/121-service/src/programs/program.entity.ts
  services/121-service/src/programs/programs.controller.ts
  services/121-service/src/programs/programs.service.ts
  services/121-service/src/registration/modules/registration-data/registration-data.service.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/scripts/seed-helper.ts
  services/121-service/src/seed-data/program/program-test-one-admin.json
  services/121-service/src/user/enum/permission.enum.ts
  services/121-service/test-registration-data/test-registrations-patch-OCW-chosen-FSP.csv
  services/121-service/test/helpers/assert.helper.ts
  services/121-service/test/program/__snapshots__/create-program.test.ts.snap
  services/121-service/test/program/create-program-registration-attribute.test.ts
  services/121-service/test/registrations/bulk-update-registration.test.ts
  services/121-service/test/registrations/update-registration-program-financial-service-provider-configuration.test.ts
Labels: Refactor registration data

#6039 Add send messages e2e test
  e2e/portalicious/pages/RegistrationActivityLogPage.ts
  e2e/portalicious/pages/RegistrationsPage.ts
  e2e/portalicious/pages/TableComponent.ts
  e2e/portalicious/tests/SendMessage/SendCustomMessage.spec.ts
  e2e/portalicious/tests/SendMessage/SendTemplatedMessage.spec.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/project-registration-activity-log.page.html
  services/121-service/test/registrations/pagination/pagination-data.ts
Labels: chore, portalicious

#6054 Chore.121 service dependabot prs
  services/121-service/package-lock.json
  services/121-service/package.json
Labels: chore

#6055 Chore.mock service dependabot prs
  services/mock-service/package-lock.json
  services/mock-service/package.json
Labels: chore

#6046 portalicious: implement basic auth strategy
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  interfaces/Portalicious/src/app/guards/admin.guard.ts
  interfaces/Portalicious/src/app/guards/auth-capabilities.guard.ts
  interfaces/Portalicious/src/app/guards/organization-admin.guard.ts
  interfaces/Portalicious/src/app/pages/change-password/change-password.page.html
  interfaces/Portalicious/src/app/pages/change-password/change-password.page.ts
  interfaces/Portalicious/src/app/pages/login/login.page.html
  interfaces/Portalicious/src/app/pages/login/login.page.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/app/services/auth/auth-strategy.interface.ts
  interfaces/Portalicious/src/app/services/auth/strategies/basic-auth/basic-auth.change-password.component.html
  interfaces/Portalicious/src/app/services/auth/strategies/basic-auth/basic-auth.change-password.component.ts
  interfaces/Portalicious/src/app/services/auth/strategies/basic-auth/basic-auth.login.component.html
  interfaces/Portalicious/src/app/services/auth/strategies/basic-auth/basic-auth.login.component.ts
  interfaces/Portalicious/src/app/services/auth/strategies/basic-auth/basic-auth.strategy.ts
  interfaces/Portalicious/src/app/services/auth/strategies/msal-auth/msal-auth.strategy.ts
Labels: portalicious

#6058 fix: update xlsx portalicious
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
Labels: chore

#6059 portalicious: table fixes
  interfaces/Portalicious/src/app/domains/domain-api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/pages/login/components/cookie-banner/cookie-banner.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/auth/strategies/basic-auth/basic-auth.login.component.html
Labels: portalicious

#6048 Add test cases for selection behaviour
  e2e/portalicious/pages/RegistrationsPage.ts
  e2e/portalicious/tests/SendMessage/CorrectSelectionCountForMultiplePas.spec.ts
  e2e/portalicious/tests/SendMessage/CorrectSelectionCountForSinglePa.spec.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.html
Labels: chore, portalicious

#6047 Check from programId in interceptor
  services/121-service/module-dependencies.md
  services/121-service/src/app.module.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.module.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.service.spec.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.service.ts
  services/121-service/src/programs/programs.module.ts
  services/121-service/src/shared/interceptors/program-existence.interceptor.ts
  services/121-service/test/helpers/program-financial-service-provider-configuration.helper.ts
  services/121-service/test/interceptors/program-exists.interceptor.test.ts
  services/121-service/test/registrations/pagination/pagination-data.ts
Labels: chore, Refactor registration data

#6070 add auto translated russian
  interfaces/Portal/src/app/services/language.service.ts
  interfaces/Portal/src/assets/i18n/ru.json
  interfaces/Portal/src/main.ts
Labels: other

#6068 Refactor registration data resolve todo
  services/121-service/src/metrics/metrics.service.ts
  services/121-service/src/migration/1729605362361-program-registration-attribute-refactor.ts
  services/121-service/src/payments/dto/pa-payment-data.dto.ts
  services/121-service/src/payments/dto/reconciliation-feedback.dto.ts
  services/121-service/src/payments/fsp-integration/commercial-bank-ethiopia/commercial-bank-ethiopia.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/services/intersolve-voucher-cron.service.ts
  services/121-service/src/program-attributes/program-attributes.service.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.controller.ts
  services/121-service/src/programs/dto/program-return.dto.ts
  services/121-service/src/programs/mappers/program-registration-attribute.mapper.ts
  services/121-service/src/programs/programs.controller.ts
  services/121-service/src/programs/programs.service.ts
  services/121-service/src/registration/registration.entity.ts
  services/121-service/src/scripts/seed-helper.ts
  services/121-service/test/payment/do-payment-fsp-excel.test.ts
  services/121-service/test/program/create-program.test.ts
Labels: enhancement, Refactor registration data

#6084 Show permission per endpoint in swagger
  services/121-service/src/guards/authenticated-user.decorator.ts
Labels: chore

#6026 portalicious: fix attributes stuff based on refactor registration data
  .github/workflows/test_e2e_portalicious.yml
  interfaces/Portalicious/src/app/components/page-layout/components/registration-menu/registration-menu.component.ts
  interfaces/Portalicious/src/app/domains/financial-service-provider/financial-service-provider.api.service.ts
  interfaces/Portalicious/src/app/domains/financial-service-provider/financial-service-provider.model.ts
  interfaces/Portalicious/src/app/domains/project/project.api.service.ts
  interfaces/Portalicious/src/app/domains/project/project.helper.ts
  interfaces/Portalicious/src/app/domains/project/project.model.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/project-monitoring.page.ts
  interfaces/Portalicious/src/app/pages/project-registration-personal-information/project-registration-personal-information.page.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/export-registrations/export-registrations.component.ts
  interfaces/Portalicious/src/app/services/export.service.ts
  interfaces/Portalicious/src/app/services/messaging.service.ts
  services/121-service/src/financial-service-providers/financial-service-provider.dto.ts
  services/121-service/src/financial-service-providers/financial-service-providers.const.ts
  services/121-service/src/seed-data/program/program-test-one-admin.json
Labels: Refactor registration data

#6073 feat: Make "default language" configurable from the ENV
  .github/workflows/deploy_client-demo_portal.yml
  .github/workflows/deploy_client-drc_portal.yml
  .github/workflows/deploy_client-ethiopia_portal.yml
  .github/workflows/deploy_client-greece_portal.yml
  .github/workflows/deploy_client-helpachild_portal.yml
  .github/workflows/deploy_client-jrethiopia_portal.yml
  .github/workflows/deploy_client-krcs-training_portal.yml
  .github/workflows/deploy_client-krcs_portal.yml
  .github/workflows/deploy_client-nlrc_portal.yml
  .github/workflows/deploy_client-slovakia_portal.yml
  .github/workflows/deploy_client-southafrica_portal.yml
  .github/workflows/deploy_client-southsudan_portal.yml
  .github/workflows/deploy_client-training_portal.yml
  .github/workflows/deploy_client-zambia_portal.yml
  .github/workflows/deploy_client-zimbabwe_portal.yml
  .github/workflows/deploy_staging_portal.yml
  .github/workflows/deploy_test_portal.yml
  .github/workflows/deploy_test_portalicious.yml
  interfaces/Portal/.env.example
  interfaces/Portal/src/app/app.module.ts
  interfaces/Portal/src/app/services/language.service.ts
  interfaces/Portal/src/environments/environment.ts.template.js
  interfaces/Portalicious/.env.example
  interfaces/Portalicious/src/environments/environment.ts.template.js
Labels: enhancement

#6017 portalicious: status change popup
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/src/app/components/confirmation-dialog/confirmation-dialog.component.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.helper.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-voucher-dialog/activity-log-voucher-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-with-custom-message/change-status-contents-with-custom-message.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-with-custom-message/change-status-contents-with-custom-message.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-with-templated-message/change-status-contents-with-templated-message.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-with-templated-message/change-status-contents-with-templated-message.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-without-message/change-status-contents-without-message.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-without-message/change-status-contents-without-message.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-dialog/change-status-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-dialog/change-status-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-submit-buttons/change-status-submit-buttons.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-submit-buttons/change-status-submit-buttons.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/messaging.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6072 Update activities endpoint with programFspConfigName
  interfaces/Portal/src/app/components/update-fsp/update-fsp.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-expanded-row/activity-log-expanded-row.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/table-cell-overview.component.ts
  services/121-service/src/activities/activities.mapper.ts
  services/121-service/src/activities/activities.service.ts
  services/121-service/src/activities/interfaces/transaction-activity.interface.ts
  services/121-service/src/payments/transactions/dto/get-audited-transaction.dto.ts
  services/121-service/src/payments/transactions/transaction.repository.ts
Labels: enhancement, Refactor registration data

#6085 portalicious: change status review & effect refactor
  interfaces/Portalicious/src/app/components/colored-chip/colored-chip.component.ts
  interfaces/Portalicious/src/app/components/colored-chip/colored-chip.helper.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/domains/registration/registration.helper.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/payment-summary-card/payment-summary-card.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-without-message/change-status-contents-without-message.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-dialog/change-status-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-dialog/change-status-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/messaging.service.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6061 Portalicious: refactor aggregates card AB#30918
  interfaces/Portalicious/src/app/components/card-summary-metrics-container/card-summary-metrics-container.component.html
  interfaces/Portalicious/src/app/components/card-summary-metrics-container/card-summary-metrics-container.component.ts
  interfaces/Portalicious/src/app/components/metric-container/metric-container.component.html
  interfaces/Portalicious/src/app/components/metric-container/metric-container.component.ts
  interfaces/Portalicious/src/app/domains/metric/metric.model.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/payment-summary-card/payment-summary-card.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/payment-summary-card/payment-summary-card.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-summary-card/project-summary-card.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6063 chore: remove nestjs-paginate hack
  services/121-service/package-lock.json
  services/121-service/package.json
  services/121-service/src/registration/services/registrations-pagination.service.ts
  services/121-service/src/registration/validators/registrations-input-validator.ts
  services/121-service/test/registrations/pagination/filter-registration-with-referenceId-interpretable-as-number.test.ts
  services/121-service/test/registrations/pagination/filter-registration.test.ts
Labels: chore

#6099 Chore.dependabot sprint 142
  e2e/package-lock.json
  e2e/package.json
  k6/package-lock.json
  k6/package.json
  services/mock-service/package-lock.json
  services/mock-service/package.json
Labels: chore

#6097 Lokalise: Translations update AB#29922
  interfaces/Portalicious/src/locale/messages.nl.xlf
Labels: ignore-for-release

#6100 Chore.dependabot sprint 142 121 service
  services/121-service/package-lock.json
  services/121-service/package.json
  services/121-service/src/events/dto/event-log-options.dto.ts
  services/121-service/src/events/events.service.ts
  services/121-service/src/notifications/message.service.spec.ts
  services/121-service/src/payments/dto/split-payment-lists.dto.ts
  services/121-service/src/payments/transactions/dto/get-transaction.dto.ts
  services/121-service/src/shared/types/localized-string.type.ts
  services/121-service/src/user/dto/user-owner.dto.ts
Labels: chore

#6103 Lokalise: Translations update
  interfaces/Portalicious/src/locale/messages.nl.xlf
Labels: other, Translations

#6095 portalicious: import registrations
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
  interfaces/Portalicious/src/app/components/file-upload-control/file-upload-control.component.html
  interfaces/Portalicious/src/app/components/file-upload-control/file-upload-control.component.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/export-payments/export-payments.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/export-registrations/export-registrations.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/import-registrations/import-registrations.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/import-registrations/import-registrations.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/download.service.ts
  interfaces/Portalicious/src/app/services/export.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
Labels: portalicious

#6104 portalicious: registrations table component
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.html
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.ts
  interfaces/Portalicious/src/app/domains/registration/registration.helper.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
Labels: portalicious

#6107 Refactor registration data: software architecture feedback
  e2e/pages/Table/TableModule.ts
  e2e/test-registration-data/test-registrations-westeros-1000.csv
  e2e/tests/121-Portal/EditInfoPersonAffected/UpdateFinancialServiceProvider.spec.ts
  e2e/tests/121-Portal/ViewPaProfilePage/ValidateFspInPaPopUp.spec.ts
  e2e/tests/121-Portal/ViewPaProfilePage/ViewPersonalInformationTable.spec.ts
  services/121-service/src/financial-service-providers/financial-service-provider-settings.helpers.ts
  services/121-service/src/financial-service-providers/financial-service-provider.service.ts
  services/121-service/src/financial-service-providers/financial-service-providers-settings.const.ts
  services/121-service/src/financial-service-providers/financial-service-providers.const.ts
  services/121-service/src/payments/dto/get-import-template-response.dto.ts
  services/121-service/src/payments/dto/payment-transaction-result.dto.ts
  services/121-service/src/payments/fsp-integration/excel/excel.module.ts
  services/121-service/src/payments/fsp-integration/excel/excel.service.ts
  services/121-service/src/payments/payments.controller.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/payments/transactions/transactions.service.ts
  services/121-service/src/program-financial-service-provider-configurations/mappers/program-financial-service-provider-configuration.mapper.spec.ts
  services/121-service/src/program-financial-service-provider-configurations/mappers/program-financial-service-provider-configuration.mapper.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.controller.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.module.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.service.spec.ts
  services/121-service/src/program-financial-service-provider-configurations/program-financial-service-provider-configurations.service.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/registration/validators/registrations-input-validator.ts
  services/121-service/src/scripts/seed-helper.ts
  services/121-service/src/seed-data/program/program-test.json
  services/121-service/test/registrations/send-message-with-placeholder.test.ts
Labels: Refactor registration data

#6105 portalicious: enable dependabot
  .github/dependabot.yml
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
  interfaces/Portalicious/src/app/app.component.ts
  interfaces/Portalicious/src/app/app.config.ts
  interfaces/Portalicious/src/app/components/form/form-default.component.html
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.html
  interfaces/Portalicious/tsconfig.json
Labels: portalicious

#6130 updated russian
  interfaces/Portal/src/assets/i18n/ru.json
Labels: chore

#6131 Disable NLRC deploy
  .github/workflows/deploy_client-nlrc_portal.yml
  .github/workflows/deploy_client-nlrc_service.yml
Labels: chore

#6098 Do not get unneeded data on every request
  services/121-service/src/strategies/azure-ad.strategy.ts
  services/121-service/src/strategies/cookie-jwt.strategy.ts
  services/121-service/src/user/user.service.ts
Labels: bugfix

#6108 portalicious: table column management
  interfaces/Portalicious/src/app/app.component.ts
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.html
  interfaces/Portalicious/src/app/components/query-table/components/query-table-column-management/query-table-column-management.component.html
  interfaces/Portalicious/src/app/components/query-table/components/query-table-column-management/query-table-column-management.component.ts
  interfaces/Portalicious/src/app/components/query-table/components/query-table-global-search/query-table-global-search.component.html
  interfaces/Portalicious/src/app/components/query-table/components/query-table-global-search/query-table-global-search.component.ts
  interfaces/Portalicious/src/app/components/query-table/components/table-cell/table-cell.component.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.html
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-expanded-row/activity-log-expanded-row.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/table-cell-activity.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/table-cell-overview.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-contents-without-message/change-status-contents-without-message.component.html
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
Labels: portalicious

#6119 refactor: Prevent duplication of labels-list
  .github/workflows/test_pull_request_formatting.yml
Labels: ignore-for-release

#6120 Forked typeorm
  services/121-service/README.md
  services/121-service/package-lock.json
  services/121-service/package.json
Labels: chore

#6111 portalicious: create payment popup
  e2e/portalicious/components/PrimeNGDropdown.ts
  e2e/portalicious/components/TableComponent.ts
  e2e/portalicious/pages/BasePage.ts
  e2e/portalicious/pages/ProjectTeam.ts
  e2e/portalicious/pages/RegistrationActivityLogPage.ts
  e2e/portalicious/pages/RegistrationsPage.ts
  e2e/portalicious/pages/TableComponent.ts
  e2e/portalicious/pages/UsersPage.ts
  e2e/portalicious/tests/ExportPeopleAffectedList/ExportDuplicateRegistrations.spec.ts
  e2e/portalicious/tests/ExportPeopleAffectedList/ExportHighVolumeOfRegistrations.spec.ts
  e2e/portalicious/tests/ExportPeopleAffectedList/ExportRegistrationsDataChanges.spec.ts
  e2e/portalicious/tests/ExportPeopleAffectedList/ExportRegistrationsList.spec.ts
  e2e/portalicious/tests/ExportPeopleAffectedList/NoPermissionsForExport.spec.ts
  e2e/portalicious/tests/SendMessage/SendCustomMessage.spec.ts
  e2e/portalicious/tests/SendMessage/SendTemplatedMessage.spec.ts
  e2e/portalicious/utils.ts
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.ts
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.html
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-dialog/change-status-dialog.component.html
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6112 docs: Update Release checklist
  README.md
Labels: chore

#6141 feat: New instance: Ethiopia-Staging
  .github/workflows/deploy_client-ethiopia-staging_all.yml
  .github/workflows/deploy_client-ethiopia-staging_service.yml
Labels: ignore-for-release

#6143 portalicious: restrict payment registrations to "status: included"
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.ts
Labels: portalicious

#6145 portalicious: payments breadcrumbs
  interfaces/Portalicious/src/app/components/page-layout/components/breadcrumbs-title/breadcrumbs-title.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/breadcrumbs-title/breadcrumbs-title.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/page-layout-title-and-actions/page-layout-title-and-actions.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/page-layout-title-and-actions/page-layout-title-and-actions.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/payment-header/payment-header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/payment-header/payment-header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/registration-header/registration-header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/registration-header/registration-header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.html
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.ts
  interfaces/Portalicious/src/app/domains/payment/payment.api.service.ts
  interfaces/Portalicious/src/app/pages/project-payment/project-payment.page.html
  interfaces/Portalicious/src/app/pages/project-payments/components/payment-summary-card/payment-summary-card.component.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6142 Chore.upgrade applicationinsights v3
  .github/workflows/test_pull_request_formatting.yml
  services/121-service/package-lock.json
  services/121-service/package.json
  services/121-service/src/main.ts
  services/121-service/src/shared/middleware/azure-logger.middleware.ts
  services/121-service/src/shared/services/azure-log.service.ts
  services/121-service/src/shared/services/custom-http.service.ts
Labels: chore

#6148 feat: Reduce churn of Dependabot PRs
  .github/dependabot.yml
Labels: dependencies, ignore-for-release

#6153 fix: ignore empty scoring objects
  interfaces/Portal/src/app/program/program-people-affected/program-people-affected.component.ts
Labels: chore

#6146 portalicious: create payment (non-excel fsps)
  interfaces/Portalicious/src/app/components/button-menu/button-menu.component.html
  interfaces/Portalicious/src/app/components/data-list/data-list.component.html
  interfaces/Portalicious/src/app/components/data-list/data-list.component.ts
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.html
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.ts
  interfaces/Portalicious/src/app/components/fullscreen-spinner/fullscreen-spinner.component.html
  interfaces/Portalicious/src/app/components/fullscreen-spinner/fullscreen-spinner.component.ts
  interfaces/Portalicious/src/app/components/query-table/components/query-table-column-management/query-table-column-management.component.html
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.ts
  interfaces/Portalicious/src/app/domains/payment/payment.api.service.ts
  interfaces/Portalicious/src/app/domains/payment/payment.helpers.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/app/services/toast.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
  services/121-service/src/payments/payments.service.ts
Labels: portalicious

#6152 portalicious: add FSP in registrations table
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.html
  interfaces/Portalicious/src/app/components/registrations-table/registrations-table.component.ts
Labels: portalicious

#6159 portalicious: consistent "esc" behaviour on dialogs
  interfaces/Portalicious/src/app/components/confirmation-dialog/confirmation-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-voucher-dialog/activity-log-voucher-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/change-status-dialog/change-status-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/import-registrations/import-registrations.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.html
Labels: portalicious

#6160 Portalicious: SSO (popup slice)
  .github/dependabot.yml
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/app/services/auth/auth-strategy.interface.ts
  interfaces/Portalicious/src/app/services/auth/strategies/msal-auth/msal-auth.strategy.ts
Labels: portalicious

#6170 Portalicious: fix Test deploy yml
  .github/workflows/deploy_test_portalicious.yml
Labels: chore

#6173 portalicious: add FSP display names in payment summary
  interfaces/Portalicious/src/app/domains/financial-service-provider/financial-service-provider.api.service.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-personal-information/project-registration-personal-information.page.ts
  services/121-service/src/registration/dto/bulk-action-result.dto.ts
Labels: portalicious

#6154 portalicious: excel payments
  interfaces/Portalicious/src/app/components/page-layout/components/payment-header/payment-header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/payment-header/payment-header.component.ts
  interfaces/Portalicious/src/app/domains/payment/payment.api.service.ts
  interfaces/Portalicious/src/app/domains/project/project.helper.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.ts
  interfaces/Portalicious/src/app/services/export.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6175 feat: refactor FSPInstructions and add payment status endpoint
  interfaces/Portal/src/app/program/export-fsp-instructions/export-fsp-instructions.component.ts
  services/121-service/src/payments/dto/fsp-instructions.dto.ts
  services/121-service/src/payments/payments.controller.ts
  services/121-service/src/payments/payments.service.ts
Labels: enhancement

#6171 Portalicious: fix origin URL
  interfaces/Portalicious/src/app/services/auth/strategies/msal-auth/msal-auth.app-providers.ts
  interfaces/Portalicious/src/app/services/auth/strategies/msal-auth/msal-auth.strategy.ts
  interfaces/Portalicious/src/app/utils/url-helper.ts
Labels: chore, portalicious

#6178 portalicious: add E2E test for "clear all filters"
  e2e/portalicious/components/TableComponent.ts
  e2e/portalicious/pages/RegistrationsPage.ts
  e2e/portalicious/tests/ViewAndManagePeopleAffected/ClearAllFilters.spec.ts
Labels: portalicious

#6177 portalicious: excel payments
  interfaces/Portalicious/src/app/components/page-layout/components/payment-header/payment-header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/payment-header/payment-header.component.ts
  interfaces/Portalicious/src/app/domains/payment/payment.api.service.ts
  interfaces/Portalicious/src/app/domains/project/project.helper.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.ts
  interfaces/Portalicious/src/app/services/export.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6158 docs: Add code-snippets to test Twilio Flex integration AB#31438
  interfaces/README.md
Labels: ignore-for-release

#6186 fix: dont return user in 401 azure-ad.strategy
  services/121-service/src/strategies/azure-ad.strategy.ts
Labels: chore

#6184 portalicious: fix payment-related fsp usage
  interfaces/Portalicious/src/app/domains/financial-service-provider/financial-service-provider.helper.ts
  interfaces/Portalicious/src/app/domains/project/project.helper.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.html
  interfaces/Portalicious/src/app/pages/project-payments/components/create-payment/create-payment.component.ts
Labels: portalicious, Refactor registration data

#6188 Add swagger json automatically
  services/121-service/README.md
  services/121-service/src/main.ts
  services/121-service/swagger.json
Labels: chore

#6185 Stronger typed typeorm
  services/121-service/package-lock.json
  services/121-service/package.json
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/registration/repositories/registration-scoped-base.repository.ts
  services/121-service/src/scoped.repository.ts
  services/121-service/src/user/user.controller.ts
  services/121-service/src/user/user.service.ts
  services/121-service/src/utils/scope/createFindWhereOptions.helper.spec.ts
  services/121-service/src/utils/scope/createFindWhereOptions.helper.ts
Labels: dependencies, chore

#6192 chore: add info on how to test typeorm fork
  .prettierignore
  services/121-service/README.md
  services/121-service/swagger.json
Labels: chore

#6181 feat: retry failed jobs on startup
  services/121-service/module-dependencies.md
  services/121-service/src/notifications/message-incoming/message-incoming.module.ts
  services/121-service/src/notifications/message-incoming/message-incoming.service.spec.ts
  services/121-service/src/notifications/message-incoming/message-incoming.service.ts
  services/121-service/src/notifications/message-queues/message-queues.module.ts
  services/121-service/src/notifications/message-queues/message-queues.service.spec.ts
  services/121-service/src/notifications/message-queues/message-queues.service.ts
  services/121-service/src/payments/fsp-integration/commercial-bank-ethiopia/commercial-bank-ethiopia.module.ts
  services/121-service/src/payments/fsp-integration/commercial-bank-ethiopia/commercial-bank-ethiopia.service.spec.ts
  services/121-service/src/payments/fsp-integration/commercial-bank-ethiopia/commercial-bank-ethiopia.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.module.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.service.spec.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.service.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.module.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.service.spec.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.service.ts
  services/121-service/src/queue-registry/queue-registry.module.ts
  services/121-service/src/queue-registry/queue-registry.service.ts
  services/121-service/src/registration/modules/queue-registrations-update/queue-registrations-update.module.ts
  services/121-service/src/registration/modules/queue-registrations-update/queue-registrations-update.service.ts
  services/121-service/src/scripts/queue-seed-helper/queue-seed-helper.module.ts
  services/121-service/src/scripts/queue-seed-helper/queue-seed-helper.service.ts
  services/121-service/src/scripts/scripts.module.ts
  services/121-service/src/scripts/seed-init.ts
  services/121-service/src/transaction-queues/transaction-queues.module.ts
  services/121-service/src/transaction-queues/transaction-queues.service.spec.ts
  services/121-service/src/transaction-queues/transaction-queues.service.ts
Labels: bugfix
