Repository global-121/121-platform, pull requests merged in 2024-08, with the labels that each got.

#5572 Visa error handling
  services/.env.example
  services/121-service/module-dependencies.md
  services/121-service/src/financial-service-providers/enum/financial-service-provider-name.enum.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.api.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/mappers/intersolve-visa-status.mapper.ts
  services/121-service/src/payments/payments.module.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/seed-data/message-template/message-template-nlrc-ocw.json
  services/121-service/src/seed-data/mock/visa-card.data.ts
  services/121-service/src/transaction-job-processors/transaction-job-processors.service.ts
  services/121-service/test/helpers/registration.helper.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit.test.ts
  services/121-service/test/visa-card/block-visa-card.test.ts
  services/121-service/test/visa-card/issue-new-card.test.ts
  services/121-service/test/visa-card/load-visa-card-details.test.ts
Labels: Intersolve Visa Reimplementation

#5607 AB#29430 throw bad request on missing fsp config
  services/121-service/src/payments/payments.service.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit.test.ts
Labels: Intersolve Visa Reimplementation

#5637 AB#29532 Adjust template types for pausing cards
  services/121-service/src/migrate-visa/migrate-visa.service.ts
Labels: Intersolve Visa Reimplementation

#5608 AB#29475 calculate transferamount before storing failed transactions
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/transaction-job-processors/transaction-job-processors.service.ts
Labels: Intersolve Visa Reimplementation

#5617 Improve payment count registration status update performance AB#29173
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa-api.error.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.api.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/mappers/intersolve-visa-status.mapper.ts
  services/121-service/src/transaction-job-processors/transaction-job-processors.service.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit.test.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit/do-payment-fsp-visa-debit-error.test.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit/do-payment-fsp-visa-debit-retry.test.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit/do-payment-fsp-visa-debit.succes.test.ts
Labels: Intersolve Visa Reimplementation

#5642 AB#28897 Seperate permissions pause and unpause
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/registration/registrations.controller.ts
Labels: Intersolve Visa Reimplementation

#5644 AB#29142 Fix mock reset for visa
  services/121-service/src/scripts/seed-mock-helpers.ts
  services/121-service/src/scripts/sql/mock-visa-child-wallets.sql
  services/121-service/src/scripts/sql/mock-visa-parent-wallets.sql
  services/121-service/src/scripts/sql/mock-visa-wallets.sql
Labels: Intersolve Visa Reimplementation

#5633 AB#29531 Take into account uncreated debit card
  interfaces/Portal/src/app/components/physical-card-popup/physical-card-popup.component.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/enums/intersolve-visa-121-error-text.enum.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/enums/wallet-status-121.enum.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa-api.error.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/mappers/intersolve-visa-status.mapper.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/mappers/visa-card-121-status-map.csv
  services/121-service/test/visa-card/issue-new-card.test.ts
  services/mock-service/src/fsp-integration/intersolve-visa/intersolve-visa.mock.controller.ts
  services/mock-service/src/fsp-integration/intersolve-visa/intersolve-visa.mock.service.ts
Labels: Intersolve Visa Reimplementation

#5645 Do transfer in cents AB#29547
  services/121-service/src/payments/fsp-integration/intersolve-visa/interfaces/do-transfer-or-issue-card-params.interface.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/interfaces/do-transfer-or-issue-card-return-type.interface.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.api.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/transaction-job-processors/transaction-job-processors.service.ts
  services/121-service/src/transaction-queues/dto/intersolve-visa-transaction-job.dto.ts
  services/121-service/src/transaction-queues/transaction-queues.service.spec.ts
  services/mock-service/src/fsp-integration/intersolve-visa/intersolve-visa.mock.service.ts
Labels: Intersolve Visa Reimplementation

#5638 Remove "before all" & change response query for random order assertions
  services/121-service/jest.e2e.config.js
  services/121-service/test/payment/__snapshots__/do-payment-fsp-voucher.test.ts.snap
  services/121-service/test/payment/do-payment-fsp-excel.test.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit.test.ts
  services/121-service/test/payment/do-payment-fsp-voucher.test.ts
  services/121-service/test/payment/do-payment-safaricom.test.ts
  services/121-service/test/program/message-template.test.ts
  services/121-service/test/programs/users/roles.test.ts
  services/121-service/test/registrations/import-registration.test.ts
  services/121-service/test/registrations/pagination/get-registration-permission.test.ts
  services/121-service/test/registrations/pagination/get-registration.test.ts
Labels: chore

#5657 chore: portalicious: simplify change-password
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/components/form-error/form-error.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.html
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.ts
  interfaces/Portalicious/src/app/pages/login/login.component.ts
  interfaces/Portalicious/src/app/pages/user-settings/user-settings.component.html
  interfaces/Portalicious/src/app/pages/user-settings/user-settings.component.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: ignore-for-release

#5656 chore: Portalicious: fix css regression
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.html
Labels: ignore-for-release

#5573 chore: add k6 cronjob
  .github/workflows/test_k6_cronjob.yml
  k6/run-all-tests.sh
Labels: chore

#5669 portalicious: fix favicon icon
  .github/release.yml
  .github/workflows/deploy_test_portalicious.yml
  interfaces/Portalicious/src/assets/favicon.ico
  interfaces/Portalicious/src/index.html
Labels: portalicious

#5659 portalicious: add support for tailwind on primeng styleClass
  interfaces/Portalicious/.prettierrc.yml
  interfaces/Portalicious/.vscode/settings.json
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.html
  interfaces/Portalicious/src/app/pages/login/login.component.html
  package-lock.json
  package.json
Labels: ignore-for-release, portalicious

#5673 chore: remove load test code
  services/.env.example
  services/mock-service/src/app.module.ts
  services/mock-service/src/load-test/load-test.controller.ts
  services/mock-service/src/load-test/load-test.module.ts
  services/mock-service/src/load-test/load-test.service.ts
Labels: chore

#5687 portalicious: refactor program to project for the very last time I promise
  e2e/portalicious/tests/Navigation/BasicNavigation.spec.ts
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/components/logo/logo.component.html
  interfaces/Portalicious/src/app/components/logo/logo.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/project-header/project-header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.html
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.ts
  interfaces/Portalicious/src/app/pages/program/program-monitoring/program-monitoring.component.html
  interfaces/Portalicious/src/app/pages/program/program-overview/program-overview.component.html
  interfaces/Portalicious/src/app/pages/program/program-payments/program-payments.component.html
  interfaces/Portalicious/src/app/pages/program/program-registrations/program-registrations.component.html
  interfaces/Portalicious/src/app/pages/program/program-registrations/program-registrations.component.ts
  interfaces/Portalicious/src/app/pages/program/program-team/program-team.component.html
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.html
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.ts
  interfaces/Portalicious/src/app/pages/project/project-payments/project-payments.component.html
  interfaces/Portalicious/src/app/pages/project/project-payments/project-payments.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.component.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5675 Portalicious: add project cards
  e2e/portalicious/tests/Navigation/BasicNavigation.spec.ts
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/components/logo/logo.component.html
  interfaces/Portalicious/src/app/components/logo/logo.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/project-header/project-header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.html
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.ts
  interfaces/Portalicious/src/app/models/payment.model.ts
  interfaces/Portalicious/src/app/models/project.model.ts
  interfaces/Portalicious/src/app/pages/program/program-monitoring/program-monitoring.component.html
  interfaces/Portalicious/src/app/pages/program/program-overview/program-overview.component.html
  interfaces/Portalicious/src/app/pages/program/program-payments/program-payments.component.html
  interfaces/Portalicious/src/app/pages/program/program-registrations/program-registrations.component.html
  interfaces/Portalicious/src/app/pages/program/program-registrations/program-registrations.component.ts
  interfaces/Portalicious/src/app/pages/program/program-team/program-team.component.html
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.html
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.ts
  interfaces/Portalicious/src/app/pages/project/project-payments/project-payments.component.html
  interfaces/Portalicious/src/app/pages/project/project-payments/project-payments.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.component.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/project-metric-container/project-metric-container.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/project-metric-container/project-metric-container.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/project-summary-card/project-summary-card.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.ts
  interfaces/Portalicious/src/app/pipes/translatable-string.pipe.spec.ts
  interfaces/Portalicious/src/app/pipes/translatable-string.pipe.ts
  interfaces/Portalicious/src/app/services/api.service.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/app/utils/locale.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/main.ts
  services/121-service/src/notifications/lookup/lookup.service.ts
  services/121-service/src/programs/programs.service.ts
  services/121-service/src/scripts/seed-multiple-nlrc-mock.ts
  services/121-service/src/shared/services/custom-http.service.ts
Labels: portalicious

#5672 portalicious: another approach to forms
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/src/app/components/form-error/form-error.component.html
  interfaces/Portalicious/src/app/components/form-error/form-error.component.ts
  interfaces/Portalicious/src/app/components/form-field-wrapper/form-field-wrapper.component.html
  interfaces/Portalicious/src/app/components/form-field-wrapper/form-field-wrapper.component.ts
  interfaces/Portalicious/src/app/components/form/components/form-base/form-base.component.ts
  interfaces/Portalicious/src/app/components/form/form-default.component.html
  interfaces/Portalicious/src/app/components/form/form-default.component.ts
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.html
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.ts
  interfaces/Portalicious/src/app/components/logo/logo.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/footer/footer.component.html
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.html
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.ts
  interfaces/Portalicious/src/app/pages/login/login.component.html
  interfaces/Portalicious/src/app/pages/login/login.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/create-project-button/create-project-button.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/create-project-button/create-project-button.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.ts
  interfaces/Portalicious/src/app/services/api.service.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/app/services/http-wrapper.service.ts
  interfaces/Portalicious/src/app/utils/form-validation.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
Labels: portalicious

#5674 AB#29646 Add change password tests
  e2e/playwright.portalicious.config.ts
  e2e/portalicious/pages/BasePage.ts
  e2e/portalicious/pages/ChangePasswordPage.ts
  e2e/portalicious/pages/LoginPage.ts
  e2e/portalicious/tests/ChangePassword/ChangePasswordSuccessfully.spec.ts
  e2e/portalicious/tests/ChangePassword/CurrentPasswordIncorrect.spec.ts
  e2e/portalicious/tests/ChangePassword/NonMatchingPasswords.spec.ts
  interfaces/Portalicious/src/app/components/form-error/form-error.component.html
  services/.env.example
Labels: portalicious

#5700 chore: refactor create-program tests
  services/121-service/test/helpers/assert.helper.ts
  services/121-service/test/helpers/utility.helper.ts
  services/121-service/test/program/__snapshots__/create-fsp-configuration.test.ts.snap
  services/121-service/test/program/__snapshots__/create-program.test.ts.snap
  services/121-service/test/program/create-fsp-configuration.test.ts
  services/121-service/test/program/create-program.test.ts
  services/121-service/test/program/update-program.test.ts
Labels: chore

#5665 Feat.create template for reconciliation import with generic fsp
  interfaces/Portal/src/app/models/import-type.enum.ts
  interfaces/Portal/src/app/program/import-fsp-reconciliation/import-fsp-reconciliation.component.ts
  interfaces/Portal/src/app/services/programs-service-api.service.ts
  interfaces/Portal/src/app/shared/file-picker-prompt/file-picker-prompt.component.html
  interfaces/Portal/src/app/shared/file-picker-prompt/file-picker-prompt.component.ts
  services/121-service/src/payments/payments.controller.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/test/helpers/registration.helper.ts
  services/121-service/test/payment/__snapshots__/do-payment-fsp-excel.test.ts.snap
  services/121-service/test/payment/do-payment-fsp-excel.test.ts
Labels: enhancement

#5696 portalicious: consistent page title
  interfaces/Portalicious/src/app/components/logo/logo.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/project-header/project-header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.html
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.ts
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.html
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.html
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.ts
  interfaces/Portalicious/src/app/pages/project/project-payments/project-payments.component.html
  interfaces/Portalicious/src/app/pages/project/project-payments/project-payments.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.component.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.html
  interfaces/Portalicious/src/app/pages/roles-and-permissions/roles-and-permissions.component.html
  interfaces/Portalicious/src/app/pages/users/users.component.html
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5671 feat: add reason to body when mass updating AB#29618
  e2e/tests/121-Portal/MakeNewPayment/OCW/RetryPaymentOCW.spec.ts
  e2e/tests/121-Portal/MakeNewPayment/PV/RetryPaymentPV.spec.ts
  services/121-service/src/registration/dto/registration-update-job.dto.ts
  services/121-service/src/registration/processsors/registrations-update.processor.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/registration/services/registrations-import.service.ts
  services/121-service/src/shared/file-upload-api-format.ts
  services/121-service/test/helpers/registration.helper.ts
  services/121-service/test/registrations/mass-update-registration.test.ts
Labels: enhancement

#5715 portalicious: fix: all page content has a tooltip
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.html
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.ts
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.html
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.html
  interfaces/Portalicious/src/app/pages/project/project-payments/project-payments.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.html
  interfaces/Portalicious/src/app/pages/roles-and-permissions/roles-and-permissions.component.html
  interfaces/Portalicious/src/app/pages/users/users.component.html
Labels: portalicious

#5697 portalicious: design review: overview projects
  e2e/portalicious/pages/BasePage.ts
  e2e/portalicious/tests/Navigation/BasicNavigation.spec.ts
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.html
  interfaces/Portalicious/src/app/components/logo/logo.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/project-header/project-header.component.ts
  interfaces/Portalicious/src/app/pages/project/project-monitoring/project-monitoring.component.html
  interfaces/Portalicious/src/app/pages/project/project-monitoring/project-monitoring.component.ts
  interfaces/Portalicious/src/app/pages/project/project-overview/project-overview.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/create-project-button/create-project-button.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/project-metric-container/project-metric-container.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/project-summary-card/project-summary-card.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.component.html
  interfaces/Portalicious/src/assets/projects-empty.svg
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
Labels: portalicious

#5667 Chore add fullname to ocw to better reflect current reality on prod
  e2e/pages/Table/TableModule.ts
  e2e/test-registration-data/test-registrations-OCW.csv
  e2e/test-registration-data/test-registrations-demo-1000.csv
  e2e/test-registration-data/test-registrations-patch-OCW.csv
  e2e/tests/121-Portal/MakeNewPayment/OCW/SendPaymentInstructionsOCW.spec.ts
  e2e/tests/121-Portal/ViewPaProfilePage/WrongLanguagesInTemplatedMessagesBug.spec.ts
  services/121-service/src/seed-data/mock/visa-card.data.ts
  services/121-service/src/seed-data/program/program-nlrc-ocw.json
  services/121-service/test-registration-data/test-registrations-OCW.csv
  services/121-service/test-registration-data/test-registrations-patch-OCW-without-phoneNumber-column.csv
  services/121-service/test-registration-data/test-registrations-patch-OCW.csv
  services/121-service/test/helpers/assert.helper.ts
  services/121-service/test/helpers/program.helper.ts
  services/121-service/test/payment/do-payment-filter.test.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit.test.ts
  services/121-service/test/program/__snapshots__/create-fsp-configuration.test.ts.snap
  services/121-service/test/program/__snapshots__/create-program.test.ts.snap
  services/121-service/test/registrations/__snapshots__/import-registration.test.ts.snap
  services/121-service/test/registrations/mass-update-registration.test.ts
  services/121-service/test/registrations/pagination/filter-registration.payment.test.ts
  services/121-service/test/registrations/pagination/get-registration-permission.test.ts
  services/121-service/test/registrations/pagination/get-registration.test.ts
  services/121-service/test/registrations/pagination/pagination-data.ts
  services/121-service/test/registrations/update-registration.test.ts
Labels: chore

#5699 Add create new Project e2e tests for Portalicious
  .github/workflows/test_e2e_portalicious.yml
  e2e/portalicious/pages/BasePage.ts
  e2e/portalicious/pages/CreateProjectPage.ts
  e2e/portalicious/tests/CreateNewProject/CreateNewProjectSuccessfully.spec.ts
  e2e/portalicious/tests/CreateNewProject/FillInInvalidToken.spec.ts
  e2e/portalicious/tests/CreateNewProject/SaveEmptyForm.spec.ts
  e2e/tsconfig.json
  services/.env.example
Labels: portalicious

#5712 portalicious: align styling of change-password
  interfaces/Portalicious/src/app/components/form-field-wrapper/form-field-wrapper.component.html
  interfaces/Portalicious/src/app/components/form/form-default.component.html
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.html
  interfaces/Portalicious/src/app/pages/change-password/change-password.component.ts
Labels: portalicious

#5693 portalicious: project -> teams -> table
  interfaces/Portalicious/.prettierrc.yml
  interfaces/Portalicious/.vscode/settings.json
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/auth.guard.ts
  interfaces/Portalicious/src/app/components/page-layout/components/project-header/project-header.component.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell-date/table-cell-date.component.html
  interfaces/Portalicious/src/app/components/query-table/table-cell-date/table-cell-date.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell-text/table-cell-text.component.html
  interfaces/Portalicious/src/app/components/query-table/table-cell-text/table-cell-text.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell.component.ts
  interfaces/Portalicious/src/app/models/project.model.ts
  interfaces/Portalicious/src/app/pages/project/project-team/add-user-button/add-user-button.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/add-user-button/add-user-button.component.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.ts
  interfaces/Portalicious/src/app/pipes/translatable-string.pipe.spec.ts
  interfaces/Portalicious/src/app/services/api.service.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/app/services/toast.service.ts
  interfaces/Portalicious/src/app/utils/type-helpers.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
  services/121-service/src/user/dto/get-user-response.dto.ts
Labels: portalicious

#5718 fix: Use clearer icon
  .github/workflows/deploy_test_portalicious.yml
Labels: portalicious

#5717 fix: Reduce "layout shifting"/jumpiness of skeletons
  interfaces/Portalicious/src/app/pages/projects-overview/project-metric-container/project-metric-container.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/project-summary-card/project-summary-card.component.html
Labels: portalicious

#5701 Feat.see user who sent a message
  interfaces/Portal/src/app/models/message.model.ts
  interfaces/Portal/src/app/services/registration-activity.service.ts
  services/121-service/src/migration/1724079447374-add-userId-to-twilio-message-entity.ts
  services/121-service/src/migration/1724079533801-add-userId-to-twilio-pending-message-entity.ts
  services/121-service/src/migration/1724079612695-add-userId-to-intersolve-voucher-entity.ts
  services/121-service/src/notifications/message-incoming/message-incoming.module.ts
  services/121-service/src/notifications/message-incoming/message-incoming.service.ts
  services/121-service/src/notifications/message-job.dto.ts
  services/121-service/src/notifications/message.service.spec.ts
  services/121-service/src/notifications/message.service.ts
  services/121-service/src/notifications/processors/message.processor.spec.ts
  services/121-service/src/notifications/queue-message/queue-message.service.spec.ts
  services/121-service/src/notifications/queue-message/queue-message.service.ts
  services/121-service/src/notifications/sms/sms.service.ts
  services/121-service/src/notifications/twilio.entity.ts
  services/121-service/src/notifications/whatsapp/whatsapp-pending-message.entity.ts
  services/121-service/src/notifications/whatsapp/whatsapp.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.controller.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.entity.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/services/intersolve-voucher-cron.service.ts
  services/121-service/src/payments/transactions/transactions.service.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/registration/services/registrations-bulk.service.spec.ts
  services/121-service/src/registration/services/registrations-bulk.service.ts
  services/121-service/src/scripts/sql/mock-intersolve-voucher-per-payment.sql
  services/121-service/src/scripts/sql/mock-intersolve-voucher.sql
  services/121-service/src/scripts/sql/mock-messages-one-per-registration.sql
  services/121-service/src/scripts/sql/mock-messages.sql
  services/121-service/test/payment/__snapshots__/do-payment-fsp-voucher.test.ts.snap
  services/mock-service/src/twilio/twilio.service.ts
Labels: enhancement

#5725 chore: add PR metadata checker
  .github/release.yml
  .github/workflows/test_pull_request_formatting.yml
  docs/pull_request_template.md
Labels: ignore-for-release

#5723 portalicious: refactor query keys
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
  interfaces/Portalicious/src/app/components/health-widget/health-widget.component.ts
  interfaces/Portalicious/src/app/components/logo/logo.component.ts
  interfaces/Portalicious/src/app/models/project.model.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/app/services/api.service.ts
Labels: portalicious

#5721 portalicious: add e2e to validate users in project team table
  e2e/portalicious/pages/BasePage.ts
  e2e/portalicious/pages/ProjectTeam.ts
  e2e/portalicious/tests/ManageTeam/AllUsersAssignedShouldBeVisible.spec.ts
Labels: portalicious

#5722 Feat.bulk create users
  services/.env.example
  services/121-service/module-dependencies.md
  services/121-service/src/actions/utils/action.mapper.spec.ts
  services/121-service/src/app.module.ts
  services/121-service/src/emails/dto/create-emails.dto.ts
  services/121-service/src/emails/emails.api.service.ts
  services/121-service/src/emails/emails.module.ts
  services/121-service/src/emails/emails.service.spec.ts
  services/121-service/src/emails/emails.service.ts
  services/121-service/src/emails/templates/createNonSsoUserTemplate.ts
  services/121-service/src/emails/templates/createSsoUserTemplate.ts
  services/121-service/src/emails/templates/genericTemplate.ts
  services/121-service/src/emails/templates/passwordResetTemplate.ts
  services/121-service/src/emails/templates/style.ts
  services/121-service/src/guards/authenticated-user.decorator.ts
  services/121-service/src/main.ts
  services/121-service/src/migration/1724250798233-add-isOrganizationAdmin-and-displayName-columns.ts
  services/121-service/src/programs/programs.controller.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/scripts/seed-helper.ts
  services/121-service/src/scripts/seed-init.ts
  services/121-service/src/strategies/azure-ad.strategy.ts
  services/121-service/src/strategies/cookie-jwt.strategy.ts
  services/121-service/src/user/dto/change-password-without-current-password.dto.ts
  services/121-service/src/user/dto/create-user-aid-worker.dto.ts
  services/121-service/src/user/dto/create-user.dto.ts
  services/121-service/src/user/dto/update-user.dto.ts
  services/121-service/src/user/user.controller.ts
  services/121-service/src/user/user.entity.ts
  services/121-service/src/user/user.interface.ts
  services/121-service/src/user/user.module.ts
  services/121-service/src/user/user.service.ts
  services/121-service/src/user/utils/user.mapper.spec.ts
Labels: enhancement

#5726 portalicious: split api service into domains
  interfaces/Portalicious/src/app/components/form/form-default.component.ts
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.ts
  interfaces/Portalicious/src/app/components/form/form.component.ts
  interfaces/Portalicious/src/app/components/health-widget/health-widget.component.ts
  interfaces/Portalicious/src/app/components/logo/logo.component.ts
  interfaces/Portalicious/src/app/domains/domain-api.service.ts
  interfaces/Portalicious/src/app/domains/health/health.api.service.ts
  interfaces/Portalicious/src/app/domains/health/health.model.ts
  interfaces/Portalicious/src/app/domains/payment/payment.api.service.ts
  interfaces/Portalicious/src/app/domains/payment/payment.model.ts
  interfaces/Portalicious/src/app/domains/project/project.api.service.ts
  interfaces/Portalicious/src/app/domains/project/project.model.ts
  interfaces/Portalicious/src/app/domains/user/user.api.service.ts
  interfaces/Portalicious/src/app/domains/user/user.model.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/create-project-button/create-project-button.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/app/services/api.service.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
Labels: portalicious

#5737 feat: add displayName and isOrganizationAdmin in get endpoints AB#29966
  services/121-service/src/user/user.entity.ts
  services/121-service/src/user/user.interface.ts
  services/121-service/src/user/user.service.ts
Labels: enhancement

#5694 Portalicious: add new team member form AB#29678
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
  interfaces/Portalicious/src/app/components/form-field-wrapper/form-field-wrapper.component.html
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.html
  interfaces/Portalicious/src/app/components/form/form-sidebar.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/app/domains/project/project.api.service.ts
  interfaces/Portalicious/src/app/domains/project/project.model.ts
  interfaces/Portalicious/src/app/domains/role/role.api.service.ts
  interfaces/Portalicious/src/app/domains/role/role.model.ts
  interfaces/Portalicious/src/app/domains/user/user.api.service.ts
  interfaces/Portalicious/src/app/pages/login/login.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/add-user-button/add-user-button.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/add-user-button/add-user-button.component.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/create-project-button/create-project-button.component.html
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/app/services/http-wrapper.service.ts
  interfaces/Portalicious/src/app/services/toast.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
  interfaces/Portalicious/tailwind.config.ts
Labels: portalicious

#5739 chore: update release checklist
  README.md
Labels: chore

#5381 feat: Move to multi-tenant SSO AB#27356
  .github/actions/build-interface/action.yml
  .github/workflows/deploy_client-demo_portal.yml
  .github/workflows/deploy_client-nlrc_portal.yml
  .github/workflows/deploy_staging_portal.yml
  .github/workflows/deploy_test_portal.yml
  interfaces/Portal/.env.example
  interfaces/Portal/package-lock.json
  interfaces/Portal/package.json
  interfaces/Portal/src/app/app-routes.enum.ts
  interfaces/Portal/src/app/app.component.ts
  interfaces/Portal/src/app/app.module.ts
  interfaces/Portal/src/app/auth/auth.service.ts
  interfaces/Portal/src/app/components/header/header.component.html
  interfaces/Portal/src/app/pages/login/login.page.html
  interfaces/Portal/src/app/pages/login/login.page.scss
  interfaces/Portal/src/app/pages/login/login.page.ts
  interfaces/Portal/src/app/services/programs-service-api.service.ts
  interfaces/Portal/src/app/shared/utils/check-pop-up-is-blocked.utils.ts
  interfaces/Portal/src/assets/i18n/en.json
  interfaces/Portal/src/environments/environment.ts
  interfaces/Portal/src/environments/environment.ts.template.js
  interfaces/README.md
  services/.env.example
  services/121-service/src/strategies/azure-ad.strategy.ts
Labels: enhancement, flagged
