Repository global-121/121-platform, pull requests merged in 2024-10, with the labels that each got.

#5853 portalicious: open AH voucher
  interfaces/Portalicious/src/app/components/form-error/form-error.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell-chip.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell-date.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell-text.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell.component.ts
  interfaces/Portalicious/src/app/domains/project/project.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/activity-log-expanded-row/activity-log-expanded-row.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/activity-log-voucher-dialog/activity-log-voucher-dialog.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/activity-log-voucher-dialog/activity-log-voucher-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/table-cell-activity.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/table-cell-overview.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/project-registration-activity-log.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/project-registration-activity-log.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5833 Add E2E tests for "Project monitoring page"
  e2e/portalicious/pages/ProjectMonitoringPage.ts
  e2e/portalicious/tests/ProjectMonitoring/AllElementsOfProjectMonitoringPageDisplayCorrectData.spec.ts
  interfaces/Portalicious/src/app/pages/project/project-monitoring/metric-tile/metric-tile.component.html
  interfaces/Portalicious/src/app/pages/project/project-monitoring/project-monitoring.page.html
Labels: chore, portalicious

#5884 portalicious: test iframe on monitoring page
  e2e/portalicious/pages/ProjectMonitoringPage.ts
  e2e/portalicious/tests/ProjectMonitoring/AllElementsOfProjectMonitoringPageDisplayCorrectData.spec.ts
  interfaces/Portalicious/src/app/pages/project/project-monitoring/project-monitoring.page.html
Labels: portalicious

#5870 Debit cards (page) in profile page (on main)
  interfaces/Portalicious/src/app/components/colored-chip/colored-chip.helper.ts
  interfaces/Portalicious/src/app/components/confirmation-dialog/confirmation-dialog.component.html
  interfaces/Portalicious/src/app/components/confirmation-dialog/confirmation-dialog.component.ts
  interfaces/Portalicious/src/app/components/data-list/data-list.component.html
  interfaces/Portalicious/src/app/domains/domain-api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.helper.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-debit-cards/project-registration-debit-cards.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-debit-cards/project-registration-debit-cards.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5883 portalicious: rename pages
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/pages/change-password/change-password.page.html
  interfaces/Portalicious/src/app/pages/change-password/change-password.page.ts
  interfaces/Portalicious/src/app/pages/login/login.page.html
  interfaces/Portalicious/src/app/pages/login/login.page.ts
  interfaces/Portalicious/src/app/pages/roles-and-permissions/roles-and-permissions.page.html
  interfaces/Portalicious/src/app/pages/roles-and-permissions/roles-and-permissions.page.ts
  interfaces/Portalicious/src/app/pages/users/users.page.html
  interfaces/Portalicious/src/app/pages/users/users.page.ts
Labels: portalicious

#5886 chore: add "other" label to PR release notes
  .github/release.yml
  .github/workflows/test_pull_request_formatting.yml
  docs/CONTRIBUTING.md
Labels: chore

#5889 enhancement: add description to roles
  services/121-service/src/migration/1669718138929-remove-RegistrationPersonalSEARCH.ts
  services/121-service/src/migration/1681916727770-permission-read-aidworkers.ts
  services/121-service/src/migration/1694821278357-add-paused-status.ts
  services/121-service/src/migration/1707311790028-remove-select-for-validation.ts
  services/121-service/src/migration/1719931805175-add-new-permission-related-to-export.ts
  services/121-service/src/migration/1727853835967-role-description.ts
  services/121-service/src/user/dto/create-user-role.dto.ts
  services/121-service/src/user/dto/update-user-role.dto.ts
  services/121-service/src/user/dto/userrole-response.dto.ts
  services/121-service/src/user/user-role.entity.ts
  services/121-service/src/user/user.controller.ts
  services/121-service/src/user/user.service.ts
  services/121-service/test/helpers/utility.helper.ts
  services/121-service/test/users/user-roles.test.ts
Labels: enhancement

#5887 portalicious: user roles page
  e2e/portalicious/tests/Navigation/BasicNavigation.spec.ts
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.ts
  interfaces/Portalicious/src/app/guards/admin.guard.ts
  interfaces/Portalicious/src/app/guards/auth.guard.ts
  interfaces/Portalicious/src/app/guards/organization-admin.guard.ts
  interfaces/Portalicious/src/app/guards/project-permissions-guard.ts
  interfaces/Portalicious/src/app/pages/roles-and-permissions/roles-and-permissions.page.html
  interfaces/Portalicious/src/app/pages/roles-and-permissions/roles-and-permissions.page.ts
  interfaces/Portalicious/src/app/pages/user-roles/user-roles.page.html
  interfaces/Portalicious/src/app/pages/user-roles/user-roles.page.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5882 portalicious: add registrations breadcrumb and handle not found
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5895 feat: Add deployment workflow for new instance: Ethiopia
  .github/workflows/deploy_client-ethiopia_all.yml
  .github/workflows/deploy_client-ethiopia_portal.yml
  .github/workflows/deploy_client-ethiopia_service.yml
Labels: ignore-for-release

#5896 portalicious: add registrations breadcrumb and handle not found v2
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/src/app/components/data-list/data-list.component.html
  interfaces/Portalicious/src/app/components/data-list/data-list.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/page-layout-title-and-actions/page-layout-title-and-actions.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/page-layout-title-and-actions/page-layout-title-and-actions.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/registration-header/registration-header.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/registration-header/registration-header.component.ts
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.html
  interfaces/Portalicious/src/app/components/page-layout/page-layout.component.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5897 portalicious: rename add-user-form
  interfaces/Portalicious/src/app/pages/project/project-team/add-project-team-user-form/add-project-team-user-form.component.html
  interfaces/Portalicious/src/app/pages/project/project-team/add-project-team-user-form/add-project-team-user-form.component.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.page.html
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.page.ts
Labels: portalicious

#5890 chore: third slice of no implicity any
  services/121-service/src/financial-service-providers/enum/financial-service-provider-name.enum.ts
  services/121-service/src/financial-service-providers/financial-service-provider.entity.ts
  services/121-service/src/migration/1710080807910-migrate-fsp-display-name-portal-data-to-display-name.ts
  services/121-service/src/migration/1713422095087-migrate-statuses-to-declined.ts
  services/121-service/src/notifications/auth.middlewareTwilio.ts
  services/121-service/src/notifications/message-incoming/message-incoming.controller.ts
  services/121-service/src/notifications/message-job.dto.ts
  services/121-service/src/notifications/message-template/message-template.service.ts
  services/121-service/src/notifications/message.service.spec.ts
  services/121-service/src/notifications/message.service.ts
  services/121-service/src/notifications/twilio.client.ts
  services/121-service/src/payments/dto/payment-transaction-result.dto.ts
  services/121-service/src/payments/fsp-integration/excel/dto/excel-fsp-instructions.dto.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.controller.ts
  services/121-service/src/payments/fsp-integration/safaricom/dto/safaricom-load-response.dto.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom-request.entity.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.api.service.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.controller.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.service.service.spec.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.service.ts
  services/121-service/src/payments/fsp-integration/vodacash/vodacash.service.ts
  services/121-service/src/payments/imagecode/image-code.controller.ts
  services/121-service/src/payments/imagecode/image-code.entity.ts
  services/121-service/src/payments/imagecode/image-code.service.ts
  services/121-service/src/payments/payments.controller.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/programs/dto/create-program-fsp-configuration.dto.ts
  services/121-service/src/programs/dto/create-program.dto.ts
  services/121-service/src/programs/dto/update-program-fsp-configuration.dto.ts
  services/121-service/src/programs/fsp-configuration/program-fsp-configuration.entity.ts
  services/121-service/src/programs/programs.service.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/repositories/registration-scoped.repository.ts
  services/121-service/src/scoped.repository.ts
Labels: chore

#5891 Visa chores, comments and small refactors
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/transaction-queues/dto/intersolve-visa-transaction-job.dto.ts
  services/121-service/test/visa-card/issue-new-card.test.ts
Labels: Intersolve Visa Reimplementation, chore

#5903 chore: rename StatusEnum to TransactionStatusEnum
  e2e/tests/121-Portal/ViewPaProfilePage/ViewActivityFspOverview.spec.ts
  interfaces/Portalicious/src/app/components/colored-chip/colored-chip.helper.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/table-cell-overview.component.ts
  services/121-service/src/metrics/metrics.service.ts
  services/121-service/src/notifications/message.service.spec.ts
  services/121-service/src/notifications/message.service.ts
  services/121-service/src/payments/dto/import-fsp-reconciliation.dto.ts
  services/121-service/src/payments/dto/payment-transaction-result.dto.ts
  services/121-service/src/payments/fsp-integration/commercial-bank-ethiopia/commercial-bank-ethiopia.service.ts
  services/121-service/src/payments/fsp-integration/excel/excel.service.spec.ts
  services/121-service/src/payments/fsp-integration/excel/excel.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/intersolve-voucher.service.ts
  services/121-service/src/payments/fsp-integration/safaricom/safaricom.service.ts
  services/121-service/src/payments/fsp-integration/vodacash/vodacash.service.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/payments/transactions/dto/get-transaction.dto.ts
  services/121-service/src/payments/transactions/enums/transaction-status.enum.ts
  services/121-service/src/payments/transactions/transactions.service.ts
  services/121-service/src/registration/services/registrations-pagination.service.ts
  services/121-service/test/helpers/program.helper.ts
  services/121-service/test/payment/do-payment-fsp-excel.test.ts
  services/121-service/test/payment/do-payment-fsp-visa-debit.test.ts
  services/121-service/test/payment/do-payment-fsp-voucher.test.ts
  services/121-service/test/payment/do-payment-safaricom.test.ts
  services/121-service/test/payment/payment-count-completed.test.ts
  services/121-service/test/registrations/pagination/filter-registration.payment.test.ts
Labels: chore

#5898 Delete CBE - Staging instance
  .github/workflows/deploy_client-jrethiopia-staging_service.yml
  .github/workflows/deploy_client-jrethiopia_portal.yml
Labels: ignore-for-release

#5862 feat: Make cron-jobs configurable per instance AB#24803
  services/.env.example
  services/121-service/src/cronjob/cronjob.service.ts
Labels: enhancement

#5906 feat: Hide the transfer-amount input by default AB#30698
  interfaces/Portal/src/app/program/make-payment/make-payment.component.html
  interfaces/Portal/src/app/program/make-payment/make-payment.component.scss
  interfaces/Portal/src/assets/i18n/ar.json
  interfaces/Portal/src/assets/i18n/en.json
  interfaces/Portal/src/assets/i18n/es.json
  interfaces/Portal/src/assets/i18n/fr.json
  interfaces/Portal/src/assets/i18n/nl.json
Labels: enhancement

#5910 add displayname to patch /api/users/(userId}
  services/121-service/src/user/dto/update-user.dto.ts
  services/121-service/src/user/user.controller.ts
Labels: bugfix

#5912 fix: referenceId mistakenly cast to number
  services/121-service/src/registration/services/registrations-pagination.service.ts
Labels: bugfix

#5901 portalicious: lazy loading table
  interfaces/Portalicious/src/app/components/colored-chip/colored-chip.helper.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell-chip.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell-date.component.ts
  interfaces/Portalicious/src/app/components/query-table/table-cell/table-cell-text.component.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/project-registration-activity-log.page.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.page.ts
  interfaces/Portalicious/src/app/pages/users/users.page.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.spec.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  services/121-service/src/registration/dto/filter-attribute.dto.ts
  services/121-service/src/registration/dto/find-all-registrations-result.dto.ts
  services/121-service/src/registration/dto/mapped-paginated-registration.dto.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/services/registrations-pagination.service.ts
Labels: portalicious

#5915 test: api test for referenceId as number
  services/121-service/test/registrations/pagination/filter-registration.test.ts
Labels: chore

#5892 portalicious: global filter redesign
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
Labels: portalicious

#5902 portalicious: add/edit user form AB#30597 AB#30598
  interfaces/Portalicious/src/app/domains/user/user.api.service.ts
  interfaces/Portalicious/src/app/pages/users/add-user-form/add-user-form.component.html
  interfaces/Portalicious/src/app/pages/users/add-user-form/add-user-form.component.ts
  interfaces/Portalicious/src/app/pages/users/users.page.html
  interfaces/Portalicious/src/app/pages/users/users.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5918 portalicious: fix users form
  interfaces/Portalicious/src/app/pages/users/add-user-form/add-user-form.component.ts
Labels: portalicious

#5917 feat: block updating of refenceId AB#30731
  services/121-service/src/registration/registrations.service.ts
Labels: bugfix

#5894 feat: visa migrate pre-activation value of inactive child wallet to parent
  services/.env.example
  services/121-service/src/migrate-visa/migrate-visa.controller.ts
  services/121-service/src/migrate-visa/migrate-visa.module.ts
  services/121-service/src/migrate-visa/migrate-visa.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-visa/entities/intersolve-visa-wallet.entity.ts
  services/mock-service/src/fsp-integration/intersolve-visa/intersolve-visa.mock.service.ts
Labels: Intersolve Visa Reimplementation

#5920 Fix.voucher template fallback language
  services/121-service/src/notifications/message-incoming/message-incoming.service.ts
Labels: bugfix

#5919 portalicious: user & roles review
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/pages/login/login.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/project-registration-activity-log.page.html
  interfaces/Portalicious/src/app/pages/project/project-team/project-team.page.html
  interfaces/Portalicious/src/app/pages/user-roles/user-roles.page.html
  interfaces/Portalicious/src/app/pages/user-roles/user-roles.page.ts
  interfaces/Portalicious/src/app/pages/users/add-user-form/add-user-form.component.html
  interfaces/Portalicious/src/app/pages/users/users.page.html
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
  interfaces/Portalicious/tailwind.config.ts
Labels: portalicious

#5909 Add totalAmountPerStatus to getPaymentAggregation
  interfaces/Portal/src/app/models/payment.model.ts
  interfaces/Portal/src/app/models/transaction.model.ts
  interfaces/Portal/src/app/program/program-payout/program-payout.component.html
  interfaces/Portal/src/app/program/program-payout/program-payout.component.ts
  k6/models/payments.js
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/payments/transactions/dto/get-transaction.dto.ts
Labels: chore

#5916 chore: refactor twilio code to not rely on "any"
  services/121-service/src/notifications/README.md
  services/121-service/src/notifications/auth.middlewareTwilio.ts
  services/121-service/src/notifications/sms/sms.service.ts
  services/121-service/src/notifications/twilio.client.ts
  services/121-service/src/notifications/twilio.entity.ts
  services/121-service/src/notifications/whatsapp/whatsapp.service.ts
  services/121-service/src/payments/fsp-integration/intersolve-voucher/README.md
Labels: chore

#5923 portalicious: add total amount in last payment to project monitoring
  interfaces/Portalicious/src/app/domains/payment/payment.api.service.ts
  interfaces/Portalicious/src/app/domains/payment/payment.model.ts
  interfaces/Portalicious/src/app/pages/project/project-monitoring/project-monitoring.page.html
  interfaces/Portalicious/src/app/pages/project/project-monitoring/project-monitoring.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5929 portalicious: enable selection on table
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5931 chore: remove vodacash, drc, xml code AB#30803
  .github/workflows/deploy_client-helpachild_portal.yml
  .github/workflows/deploy_client-helpachild_service.yml
  .github/workflows/test_service_code.yml
  e2e/test-registration-data/test-registrations-DRC.csv
  features/121-Portal/Manage_payment_via_import_and_export.feature
  interfaces/Portal/src/app/models/fsp.model.ts
  interfaces/Portal/src/app/program/export-fsp-instructions/export-fsp-instructions.component.ts
  interfaces/Portal/src/app/program/import-fsp-reconciliation/import-fsp-reconciliation.component.ts
  interfaces/Portal/src/app/program/program-payout/program-payout.component.ts
  interfaces/Portal/src/app/shared/file-picker-prompt/file-picker-prompt.component.ts
  interfaces/Portal/src/app/shared/payment-result.ts
  interfaces/Portal/src/app/shared/string-to-xml.ts
  interfaces/Portal/src/assets/i18n/ar.json
  interfaces/Portal/src/assets/i18n/en.json
  interfaces/Portal/src/assets/i18n/es.json
  interfaces/Portal/src/assets/i18n/fr.json
  interfaces/Portal/src/assets/i18n/nl.json
  k6/helpers/custom-data-attributes.js
  services/.env.example
  services/121-service/module-dependencies.md
  services/121-service/src/financial-service-providers/enum/financial-service-provider-integration-type.enum.ts
  services/121-service/src/financial-service-providers/enum/financial-service-provider-name.enum.ts
  services/121-service/src/financial-service-providers/financial-service-provider.entity.ts
  services/121-service/src/migration/1729241929168-remove-vodacash-from-fsp-table.ts
  services/121-service/src/payments/dto/fsp-instructions.dto.ts
  services/121-service/src/payments/dto/import-fsp-reconciliation.dto.ts
  services/121-service/src/payments/fsp-integration/vodacash/README.md
  services/121-service/src/payments/fsp-integration/vodacash/vodacash.module.ts
  services/121-service/src/payments/fsp-integration/vodacash/vodacash.service.ts
  services/121-service/src/payments/fsp-integration/vodacash/xml/vodacash-base.xml
  services/121-service/src/payments/fsp-integration/vodacash/xml/vodacash-customer.xml
  services/121-service/src/payments/payments.module.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/registration/dto/bulk-import.dto.ts
  services/121-service/src/scripts/scripts.controller.ts
  services/121-service/src/scripts/scripts.module.ts
  services/121-service/src/scripts/seed-init.ts
  services/121-service/src/scripts/seed-program-drc.ts
  services/121-service/src/scripts/seed-script.enum.ts
  services/121-service/src/seed-data/fsp/fsp-vodacash.json
  services/121-service/src/seed-data/message-template/message-template-drc.json
  services/121-service/src/seed-data/organization/organization-drc.json
  services/121-service/src/seed-data/program/program-drc.json
  services/121-service/src/seed-data/program/program-test-one-admin.json
  services/121-service/src/seed-data/program/program-test.json
  services/121-service/src/utils/file-import/file-import.service.ts
  services/121-service/test/program/__snapshots__/create-program.test.ts.snap
Labels: chore

#5861 Feat: activities endpoint
  services/121-service/module-dependencies.md
  services/121-service/src/activities/activities.controller.ts
  services/121-service/src/activities/activities.mapper.ts
  services/121-service/src/activities/activities.module.ts
  services/121-service/src/activities/activities.service.ts
  services/121-service/src/activities/dtos/activities.dto.ts
  services/121-service/src/activities/enum/activity-type.enum.ts
  services/121-service/src/activities/interfaces/base-activity.interface.ts
  services/121-service/src/activities/interfaces/data-change-activity.interface.ts
  services/121-service/src/activities/interfaces/financial-service-provider.interface.ts
  services/121-service/src/activities/interfaces/message-activity.interface.ts
  services/121-service/src/activities/interfaces/note-activity.interface.ts
  services/121-service/src/activities/interfaces/status-change-activity.interface.ts
  services/121-service/src/activities/interfaces/transaction-activity.interface.ts
  services/121-service/src/activities/types/activity.type.ts
  services/121-service/src/app.module.ts
  services/121-service/src/events/event.repository.ts
  services/121-service/src/events/events.module.ts
  services/121-service/src/events/events.service.spec.ts
  services/121-service/src/events/events.service.ts
  services/121-service/src/events/utils/events.mapper.ts
  services/121-service/src/notes/note.repository.ts
  services/121-service/src/notes/notes.module.ts
  services/121-service/src/notes/notes.service.ts
  services/121-service/src/notifications/message.module.ts
  services/121-service/src/notifications/twilio-message.repository.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/payments/transactions/dto/get-audited-transaction.dto.ts
  services/121-service/src/payments/transactions/transaction.repository.ts
  services/121-service/src/payments/transactions/transactions.controller.ts
  services/121-service/src/payments/transactions/transactions.module.ts
  services/121-service/src/payments/transactions/transactions.service.ts
  services/121-service/src/scoped.repository.spec.ts
  services/121-service/src/scoped.repository.ts
  services/121-service/src/utils/scope/createScopedRepositoryProvider.helper.ts
  services/121-service/src/utils/unit-test.helpers.ts
Labels: chore, portalicious

#5913 portalicious: use activities endpoint
  interfaces/Portalicious/src/app/components/colored-chip/colored-chip.helper.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/domains/message/message.helper.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.helper.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/activity-log-expanded-row/activity-log-expanded-row.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/table-cell-activity.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/components/table-cell-overview.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/project-registration-activity-log.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registration-activity-log/project-registration-activity-log.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  services/121-service/src/activities/interfaces/message-activity.interface.ts
Labels: portalicious

#5927 Show "send message" action
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/auth.service.ts
Labels: portalicious

#5952 Dependabot upgrades
  .github/dependabot.yml
  e2e/package-lock.json
  e2e/package.json
  interfaces/Portal/package-lock.json
  interfaces/Portal/package.json
  services/121-service/package-lock.json
  services/121-service/package.json
  services/mock-service/package-lock.json
  services/mock-service/package.json
Labels: dependencies, chore

#5930 portalicious: custom message popup
  interfaces/Portalicious/eslint.config.js
  interfaces/Portalicious/src/app/domains/notification/notification.api.service.ts
  interfaces/Portalicious/src/app/domains/notification/notification.helper.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/components/custom-message-control/custom-message-control.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/components/custom-message-control/custom-message-control.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/components/custom-message-preview/custom-message-preview.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/components/custom-message-preview/custom-message-preview.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/components/send-message-dialog/send-message-dialog.component.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/components/send-message-dialog/send-message-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5969 portalicious: flatten pages folder
  interfaces/Portalicious/src/app/app.routes.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/components/metric-tile/metric-tile.component.html
  interfaces/Portalicious/src/app/pages/project-monitoring/components/metric-tile/metric-tile.component.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/components/monitoring-iframe/monitoring-iframe.component.html
  interfaces/Portalicious/src/app/pages/project-monitoring/components/monitoring-iframe/monitoring-iframe.component.spec.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/components/monitoring-iframe/monitoring-iframe.component.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/project-monitoring.page.html
  interfaces/Portalicious/src/app/pages/project-monitoring/project-monitoring.page.ts
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.html
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-expanded-row/activity-log-expanded-row.component.html
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-expanded-row/activity-log-expanded-row.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-voucher-dialog/activity-log-voucher-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/activity-log-voucher-dialog/activity-log-voucher-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/table-cell-activity.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/components/table-cell-overview.component.ts
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/project-registration-activity-log.page.html
  interfaces/Portalicious/src/app/pages/project-registration-activity-log/project-registration-activity-log.page.ts
  interfaces/Portalicious/src/app/pages/project-registration-debit-cards/project-registration-debit-cards.page.html
  interfaces/Portalicious/src/app/pages/project-registration-debit-cards/project-registration-debit-cards.page.ts
  interfaces/Portalicious/src/app/pages/project-registration-personal-information/project-registration-personal-information.page.html
  interfaces/Portalicious/src/app/pages/project-registration-personal-information/project-registration-personal-information.page.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-control/custom-message-control.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-control/custom-message-control.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-preview/custom-message-preview.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-preview/custom-message-preview.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/pages/project-team/components/add-project-team-user-form/add-project-team-user-form.component.html
  interfaces/Portalicious/src/app/pages/project-team/components/add-project-team-user-form/add-project-team-user-form.component.ts
  interfaces/Portalicious/src/app/pages/project-team/project-team.page.html
  interfaces/Portalicious/src/app/pages/project-team/project-team.page.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/create-project-form/create-project-form.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/components/create-project-form/create-project-form.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-metric-container/project-metric-container.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-metric-container/project-metric-container.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-summary-card/project-summary-card.component.html
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/projects-overview.page.ts
  interfaces/Portalicious/src/app/pages/users/components/add-user-form/add-user-form.component.html
  interfaces/Portalicious/src/app/pages/users/components/add-user-form/add-user-form.component.ts
  interfaces/Portalicious/src/app/pages/users/users.page.ts
Labels: portalicious

#5954 Remove deprected custom data keys
  services/121-service/src/migration/1729602981695-deprecated-custom-data-key.ts
  services/121-service/src/programs/program.entity.ts
  services/121-service/test/program/__snapshots__/create-fsp-configuration.test.ts.snap
  services/121-service/test/program/__snapshots__/create-program.test.ts.snap
Labels: chore, Refactor registration data

#5926 AB#30781 Do not allow unvalidated registrations
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/registrations.service.ts
Labels: chore, Refactor registration data

#5858 Program registration attribute portal
  interfaces/Portal/src/app/components/registration-activity-overview/registration-activity-overview.component.ts
  interfaces/Portal/src/app/components/registration-personal-information/registration-personal-information.component.ts
  interfaces/Portal/src/app/components/registration-profile/registration-profile.component.html
  interfaces/Portal/src/app/components/registration-profile/registration-profile.component.ts
  interfaces/Portal/src/app/components/update-fsp/update-fsp.component.html
  interfaces/Portal/src/app/components/update-fsp/update-fsp.component.ts
  interfaces/Portal/src/app/components/update-property-item/update-property-item.component.html
  interfaces/Portal/src/app/components/update-property-item/update-property-item.component.ts
  interfaces/Portal/src/app/mocks/api.programs.mock.ts
  interfaces/Portal/src/app/models/attribute.model.ts
  interfaces/Portal/src/app/models/fsp.model.ts
  interfaces/Portal/src/app/models/payment.model.ts
  interfaces/Portal/src/app/models/person.model.ts
  interfaces/Portal/src/app/models/program.model.ts
  interfaces/Portal/src/app/models/registration-attribute.model.ts
  interfaces/Portal/src/app/models/transaction.model.ts
  interfaces/Portal/src/app/program/edit-person-affected-popup/edit-person-affected-popup.component.html
  interfaces/Portal/src/app/program/edit-person-affected-popup/edit-person-affected-popup.component.ts
  interfaces/Portal/src/app/program/program-payout/program-payout.component.ts
  interfaces/Portal/src/app/program/program-people-affected/program-people-affected.component.ts
  interfaces/Portal/src/app/program/registration-activity-detail-accordion/registration-activity-detail-accordion.component.html
  interfaces/Portal/src/app/program/registration-activity-detail-accordion/registration-activity-detail-accordion.component.ts
  interfaces/Portal/src/app/services/past-payments.service.ts
  interfaces/Portal/src/app/services/programs-service-api.service.ts
  interfaces/Portal/src/app/services/table.service.ts
  interfaces/Portal/src/app/shared/payment.utils.ts
  interfaces/Portal/src/app/shared/utils/check-attribute-input.utils.ts
  interfaces/Portal/src/assets/i18n/ar.json
  interfaces/Portal/src/assets/i18n/en.json
  interfaces/Portal/src/assets/i18n/es.json
  interfaces/Portal/src/assets/i18n/fr.json
  interfaces/Portal/src/assets/i18n/nl.json
  services/121-service/src/events/events.service.ts
  services/121-service/src/payments/transactions/dto/get-transaction.dto.ts
  services/121-service/src/payments/transactions/transactions.service.ts
  services/121-service/src/program-attributes/program-attributes.service.ts
  services/121-service/src/programs/program.entity.ts
  services/121-service/src/registration/dto/update-registration.dto.ts
  services/121-service/src/registration/enum/registration-attribute.enum.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/src/registration/validators/registrations-input-validator.spec.ts
  services/121-service/src/registration/validators/registrations-input-validator.ts
Labels: Refactor registration data

#5935 fix: Enforce best-practices in e-mail contents, to prevent training users to be vulnerable for phishing-attacks
  services/121-service/src/emails/templates/body.helper.ts
  services/121-service/src/emails/templates/createNonSsoUserTemplate.ts
  services/121-service/src/emails/templates/createSsoUserTemplate.ts
  services/121-service/src/emails/templates/genericTemplate.ts
  services/121-service/src/emails/templates/passwordResetTemplate.ts
  services/121-service/src/emails/templates/style.ts
Labels: chore

#5936 portalicious: fix last payment amount
  interfaces/Portalicious/src/app/pages/project-monitoring/project-monitoring.page.ts
  services/121-service/src/payments/payments.service.ts
Labels: portalicious

#5948 portalicious: show buttons for status changes
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5971 Add examples to swagger for Activities
  services/121-service/src/activities/activities.controller.ts
  services/121-service/src/activities/dtos/activities.dto.ts
Labels: chore

#5968 portalicious: custom messaging components
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
  interfaces/Portalicious/src/app/app.config.ts
  interfaces/Portalicious/src/app/components/form/form.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/registration-header/add-note-form/add-note-form.component.ts
  interfaces/Portalicious/src/app/domains/notification/notification.api.service.ts
  interfaces/Portalicious/src/app/domains/notification/notification.model.ts
  interfaces/Portalicious/src/app/domains/project/project.api.service.ts
  interfaces/Portalicious/src/app/domains/project/project.helper.ts
  interfaces/Portalicious/src/app/domains/project/project.model.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/domains/registration/registration.model.ts
  interfaces/Portalicious/src/app/pages/change-password/change-password.page.ts
  interfaces/Portalicious/src/app/pages/login/login.page.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-control/custom-message-control.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-control/custom-message-control.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-preview/custom-message-preview.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-preview/custom-message-preview.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/create-project-form/create-project-form.component.ts
  interfaces/Portalicious/src/app/services/messaging.service.ts
  interfaces/Portalicious/src/app/services/translatable-string.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
  interfaces/Portalicious/src/styles.scss
Labels: portalicious

#5973 Add e2e test for User's last login
  e2e/package-lock.json
  e2e/package.json
  e2e/portalicious/pages/UsersPage.ts
  e2e/portalicious/tests/Users/UsersLastLogin.spec.ts
  e2e/portalicious/tests/Users/ViewUsersPage.spec.ts
Labels: enhancement

#5970 Fix.excel setup
  features/121-Portal/Manage_payment_via_import_and_export.feature
  interfaces/Portal/src/app/models/fsp.model.ts
  interfaces/Portal/src/app/program/export-fsp-instructions/export-fsp-instructions.component.ts
  interfaces/Portal/src/app/program/program-payout/program-payout.component.html
  interfaces/Portal/src/app/program/program-payout/program-payout.component.ts
  interfaces/Portal/src/app/services/programs-service-api.service.ts
  interfaces/Portal/src/assets/i18n/ar.json
  interfaces/Portal/src/assets/i18n/en.json
  interfaces/Portal/src/assets/i18n/es.json
  interfaces/Portal/src/assets/i18n/fr.json
  interfaces/Portal/src/assets/i18n/nl.json
  services/121-service/src/financial-service-providers/financial-service-provider.dto.ts
  services/121-service/src/financial-service-providers/financial-service-providers.const.ts
  services/121-service/src/payments/dto/import-template-response.dto.ts
  services/121-service/src/payments/dto/reconciliation-feedback.dto.ts
  services/121-service/src/payments/fsp-integration/excel/excel.module.ts
  services/121-service/src/payments/fsp-integration/excel/excel.service.ts
  services/121-service/src/payments/interfaces/reconciliation-return-type.interface.ts
  services/121-service/src/payments/payments.controller.ts
  services/121-service/src/payments/payments.module.ts
  services/121-service/src/payments/payments.service.ts
  services/121-service/src/payments/transactions/transactions.service.ts
  services/121-service/src/registration/services/registrations-pagination.service.ts
  services/121-service/src/scripts/sql/mock-registrations.sql
  services/121-service/src/seed-data/fsp/fsp-commercial-bank-ethiopia.json
  services/121-service/src/seed-data/fsp/fsp-excel.json
  services/121-service/src/seed-data/fsp/fsp-intersolve-visa.json
  services/121-service/src/seed-data/fsp/fsp-intersolve-voucher-paper.json
  services/121-service/src/seed-data/fsp/fsp-intersolve-voucher-whatsapp.json
  services/121-service/src/seed-data/fsp/fsp-safaricom.json
  services/121-service/src/seed-data/program/program-test.json
  services/121-service/test/payment/__snapshots__/do-payment-fsp-excel.test.ts.snap
  services/121-service/test/payment/do-payment-fsp-excel.test.ts
  services/121-service/test/program/__snapshots__/create-fsp-configuration.test.ts.snap
  services/121-service/test/program/__snapshots__/create-program.test.ts.snap
Labels: Refactor registration data

#5966 chore: Group SSO-related packages together
  .github/dependabot.yml
Labels: dependencies, chore

#5953 Small fixes visa reissue card
  services/121-service/src/payments/fsp-integration/intersolve-visa/intersolve-visa.service.ts
  services/121-service/src/registration/registrations.service.ts
  services/121-service/test/visa-card/issue-new-card.test.ts
Labels: Intersolve Visa Reimplementation, chore

#5965 chore: Upgrade @nestjs/throttler with new config-format
  .github/dependabot.yml
  services/121-service/package-lock.json
  services/121-service/package.json
  services/121-service/src/app.module.ts
  services/121-service/src/config.ts
  services/121-service/src/user/user.controller.ts
Labels: dependencies

#5987 Fix.rollup security alert
  interfaces/Portalicious/package-lock.json
  interfaces/Portalicious/package.json
Labels: chore

#5977 Migrate refactored registration data and program attributes
  services/121-service/src/migration/1719232602304-program-registration-attribute.ts
  services/121-service/src/migration/1721399866177-migrate-data-to-program-registration-attribute-table.ts
  services/121-service/src/migration/1729241929169-fincancial-service-provider-configuration-refactor.ts
  services/121-service/src/migration/1729241929170-rename-fspDisplayName.ts
  services/121-service/src/migration/1729605362361-program-registration-attribute-refactor.ts
  services/121-service/src/migration/1729848646578-missing-program-fsp-confg-properties-seq.ts
  services/121-service/src/migration/test-migration.sh
  services/121-service/src/program-financial-service-provider-configurations/dtos/program-financial-service-provider-configuration-response.dto.ts
  services/121-service/src/program-financial-service-provider-configurations/mappers/program-financial-service-provider-configuration.mapper.ts
Labels: enhancement, Refactor registration data

#5978 portalicious: send messages review
  e2e/portalicious/pages/BasePage.ts
  interfaces/Portalicious/src/app/components/query-table/query-table.component.html
  interfaces/Portalicious/src/app/components/query-table/query-table.component.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/components/metric-tile/metric-tile.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-control/custom-message-control.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-control/custom-message-control.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/toast.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5986 change footer
  interfaces/Portalicious/src/app/components/page-layout/components/footer/footer.component.html
  interfaces/Portalicious/src/app/components/page-layout/components/footer/footer.component.ts
  interfaces/Portalicious/src/app/components/page-layout/components/header/header.component.html
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5988 portalicious: context menu on registrations page
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-preview/custom-message-preview.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.html
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.ts
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.html
  interfaces/Portalicious/src/app/pages/project-registrations/project-registrations.page.ts
  interfaces/Portalicious/src/app/services/messaging.service.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#5925 Update seed-init.ts
  services/121-service/src/scripts/seed-init.ts
Labels: chore

#5976 Add e2e test: "Reset user's password"
  e2e/portalicious/pages/ProjectTeam.ts
  e2e/portalicious/pages/UsersPage.ts
  e2e/portalicious/tests/Users/AddNewUser.spec.ts
  e2e/portalicious/tests/Users/ResetUsersPassword.spec.ts
  e2e/portalicious/tests/Users/UsersLastLogin.spec.ts
Labels: chore, portalicious

#5999 chore: put export-type enum in separate file
  services/121-service/src/actions/action.entity.ts
  services/121-service/src/financial-service-providers/dto/update-financial-service-provider.dto.ts
  services/121-service/src/financial-service-providers/fsp-question.entity.ts
  services/121-service/src/metrics/dto/export-details.dto.ts
  services/121-service/src/metrics/enum/export-type.enum.ts
  services/121-service/src/metrics/metrics.controller.ts
  services/121-service/src/metrics/metrics.service.ts
  services/121-service/src/programs/dto/create-program.dto.ts
  services/121-service/src/programs/dto/program-question.dto.ts
  services/121-service/src/programs/dto/program-return.dto.ts
  services/121-service/src/programs/program-question.entity.ts
  services/121-service/src/programs/programs.service.ts
  services/121-service/test/program/create-program-question.test.ts
Labels: chore

#5998 portalicious: add onDestroy -> unsubscribe to avoid memory leak
  interfaces/Portalicious/src/app/pages/project-registrations/components/send-message-dialog/send-message-dialog.component.ts
Labels: portalicious

#6003 fix: make seed mock script work again
  services/121-service/src/migration/1708330965061-migrate-data-changes-to-event.ts
  services/121-service/src/migration/1708330966062-migrate-status-changes-to-event.ts
  services/121-service/src/migration/1713363871246-remove-startedRegistration-state.ts
  services/121-service/src/migration/1714467563401-remove-deleted-state-from-registration.ts
  services/121-service/src/scripts/seed-mock-helpers.ts
  services/121-service/src/scripts/sql/mock-intersolve-voucher-attributes.sql
  services/121-service/src/scripts/sql/mock-make-phone-unique.sql
  services/121-service/src/scripts/sql/mock-payment-transactions.sql
  services/121-service/src/scripts/sql/mock-registration-data.sql
  services/121-service/src/scripts/sql/mock-registrations.sql
  services/121-service/src/scripts/sql/mock-transations-one-per-registrations.sql
  services/121-service/src/scripts/sql/mock-visa-customers.sql
  services/121-service/src/seed-data/mock/registration-pv.data.ts
Labels: Refactor registration data

#5990 Add forbidden and unautherized to all endpoint swagger docs
  services/121-service/src/financial-service-providers/financial-service-provider.controller.ts
  services/121-service/src/guards/authenticated-user.decorator.ts
  services/121-service/src/notes/notes.controller.ts
  services/121-service/src/programs/fsp-configuration/fsp-configuration.controller.ts
  services/121-service/src/programs/programs.controller.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/user/user.controller.ts
Labels: chore, Refactor registration data

#6002 portalicious: create payment button
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.html
  interfaces/Portalicious/src/app/pages/project-payments/project-payments.page.ts
  interfaces/Portalicious/src/locale/messages.nl.xlf
  interfaces/Portalicious/src/locale/messages.xlf
Labels: portalicious

#6007 portalicious: fix request caching
  interfaces/Portalicious/src/app/domains/domain-api.service.ts
  interfaces/Portalicious/src/app/domains/metric/metric.api.service.ts
  interfaces/Portalicious/src/app/domains/metric/metric.model.ts
  interfaces/Portalicious/src/app/domains/project/project.api.service.ts
  interfaces/Portalicious/src/app/domains/project/project.model.ts
  interfaces/Portalicious/src/app/domains/registration/registration.api.service.ts
  interfaces/Portalicious/src/app/pages/project-monitoring/project-monitoring.page.ts
  interfaces/Portalicious/src/app/pages/project-registrations/components/custom-message-preview/custom-message-preview.component.ts
  interfaces/Portalicious/src/app/pages/projects-overview/components/project-summary-card/project-summary-card.component.ts
  interfaces/Portalicious/src/app/services/http-wrapper.service.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.spec.ts
  interfaces/Portalicious/src/app/services/paginate-query.service.ts
Labels: portalicious
